name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [ "published" ]    

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
          fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v3

    - name: Build
      run: ./build.sh build
      shell: bash

    - name: Test
      run: dotnet test -c Release --no-build -f net6.0 --nologo
      shell: bash

    - name: Pack
      run: dotnet pack -c Release -o nuget --no-build --nologo
      shell: bash

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
          name: QdrantNupkg
          path: nuget
