name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [ "published" ]    

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
          fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v3

    - name: Build
      run: ./build.sh build
      shell: bash

    - name: Test
      run: dotnet test -c Release --logger:"junit;LogFilePath=$(pwd)/output/test-results/junit-{assembly}-{framework}-test-results.xml" --no-build -f net8.0 --nologo
      shell: bash
      
    - name: Test Results
      uses: mikepenz/action-junit-report@v4
      if: always()
      with:
        fail_on_failure: true
        require_tests: true
        report_paths: '**/output/test-results/junit-*.xml'

    - name: Pack
      run: dotnet pack -c Release -o nuget --no-build --nologo
      shell: bash

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
          name: QdrantNupkg
          path: nuget
